/* You can add global styles to this file, and also import other style files */
/*@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');*/
@import "../node_modules/ngx-toastr/toastr.css";
body{
    background-image: url('../src/app/images/bg1.jpg');
}

.TextButton
        {
            text-decoration: none;
            background-color: gray;
            color: #333333;
            padding: 2px 6px 2px 6px;
            border-top: 1px solid #CCCCCC;
            border-right: 1px solid #333333;
            border-bottom: 1px solid #333333;
            border-left: 1px solid #CCCCCC;
            border-radius: 8px;
        }