.footer{
    border-top: 8px solid #294E80;
    font-size: inherit;
    color: #343434;
    text-align: center;
    font-family: "Segoe UI","Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    padding-top: 10px;
    height: 50px;
    width:100%;
}